$c-neutral: #fff;
$c-primary: #ef6f31;
$c-secondary: #6ac5f1;
$c-tertiary: #3f3a64;

$c-font-1: #333;
$c-font-2: #545454;
$c-font-3: #696969;
$c-font-4: #777;
$c-font-5: #7e7e7e;
$c-font-6: #ababab;
$c-font-7: #111;
$c-font-8: #3f3a64;
$c-font-10: #f4ebe2;

$c-bg-app: #fff;
$c-bg-bar-counter: #f5f5f5;
$c-bg-sect-1: #fbf9f6;
$c-bg-sect-5: #faf8f6;
$c-bg-sect-7: #F5F7FA;
$c-bg-sect-9: #244186;
