* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: $gilroy-lt;
    font-size: $font-md;
    line-height: $line-height;
    color: $c-font-1;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

#app {
    width: 100%;
    min-height: 100%;
    position: relative;
    background: $c-bg-app;
}

@for $i from 1 to 7 {
    h#{$i} {
        font-family: $gilroy-bd;
    }
}

::selection {
    background: $c-primary;
    color: $c-neutral;
}

a {
    @include cubic;
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $c-primary !important;
    }
}
